<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.lb.firebaseexample">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".core.FirebaseExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseExample">
        <activity
            android:name="io.lb.firebaseexample.splash_feature.presentation.SplashActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.lb.firebaseexample.not_connected_feature.presentation.NotConnectedActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".user_feature.presentation.LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".user_feature.presentation.SignInActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".todo_feature.presentation.todo.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FirebaseExample.NoActionBar">
        </activity>
        <activity
            android:name=".todo_feature.presentation.todo_details.TodoDetailsActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>